@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
  font-family: 'Roboto', sans-serif; }

#pong {
  margin: 0 auto; }

#startPage {
  background: black;
  margin: 0 auto;
  width: 700px;
  height: 400px; }
  #startPage .text {
    display: inline-block;
    position: relative;
    padding: 10px;
    top: 40%;
    left: 43%;
    border: 2px solid white;
    color: white;
    font-size: 36px; }

#gameOver {
  background: black;
  margin: 0 auto;
  width: 700px;
  height: 400px; }
  #gameOver .text {
    display: inline-block;
    position: relative;
    padding: 10px;
    top: 40%;
    left: 35%;
    color: white;
    font-size: 36px;
    text-align: center; }
